.modal-footer  > [data-dismiss="modal"]{
	margin-left:5px;
}
div.d {
  line-height: 250%;
}
div {
  border: px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
h4 {
  text-align: center;
  color: #FF5733;
}
